<h1 id="t10v_header"></h1>
<div>
  Original link:
  <a id="t10v_url"></a>
</div>
<div class="horizontal_alignment">
	<div id="t10v_desc"></div>
  <div class="container_thing">
  	<img id="t10v_thumbnail"/>
    <div id="t10v_details"></div>
  </div>
</div>
<style>
  #t10v_desc {
    background-color: grey;
    padding: 5px;
    border-radius: 5%;
    width: 20vw;
    height: 45vw;
  }
  #t10v_thumbnail {
    width: 25vh;
    height: 20vh;
    margin-right: 10px;
  }
  .horizontal_alignment {
  	display: flex;
    justify-content: space-between;
  }
  .container_thing {
	background-color: lightblue;
    padding: 5px 15px 20vh;
  }
</style>