<h1 id="t10v_header"></h1>
<div>
  Original link:
  <a id="t10v_url"></a>
</div>
<div class="horizontal_alignment">
	<div id="t10v_desc"></div>
  <div class="container_thing">
    <div id="t10v_details"></div>
  </div>
</div>
<style>
  #t10v_desc {
    background-color: grey;
    padding: 5px;
    width: 20vw;
    height: 40vw;
    max-height: 40vw;
    overflow-y: auto;
  }
  .horizontal_alignment {
  	display: flex;
    justify-content: space-between;
  }
  .container_thing {
	  background-color: lightyellow;
    padding: 5px 15px 20vh;
  }
</style>